<div class="hero min-h-screen" style="background-image: url(<%= asset_path('test_photo.jpg') %>)">
  <div class="hero-overlay bg-opacity-50"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-2xl">
      <h1 class="mb-5 text-5xl font-bold">ログイン後トップページ</h1>
    </div>
  </div>
</div>

<div class='m-5 flex flex-col items-center'>
  <div class='m-5 text-center'>
    <div class='m-3 text-5xl font-bold' >タイマー</div>
    <p class='indent-4' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  <%= link_to 'START', new_mindful_path, class: 'btn ' %>


</div>
