<div class="m-5 text-center text-5xl font-bold">ログイン後トップページ</div>

<div class='m-5 flex flex-col items-center'>
  <div class='m-5 text-center'>
    <div class='m-3 text-5xl font-bold' >タイマー</div>
    <p class='indent-4' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  <%= link_to 'START', new_mindful_path, class: 'btn ' %>


</div>
