<div class="hero z-20 h-[45rem] min-h-screen" style="background-image: url(<%= asset_path('mindfulness.jpg') %>)">
  <div class="hero-overlay bg-opacity-50"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-full text-white">
      <h1 class="mb-5 text-5xl ">心を育む時が来た。</h1>
      <p class="mb-5 text-lg">
        瞑想の方法・効果を正しく把握し、日々の瞑想時間を記録するサービスです。<br>
        あなたの生活の中に瞑想を取り入れてみませんか？
      </p>
      <%= link_to '瞑想してみる', start_path, class: 'btn btn-secondary rounded-full' %>
    </div>
  </div>
</div>

<div class='flex flex-col items-center '>
  <div class='m-5 max-w-2xl'>
    <div class='m-3 text-center text-3xl' >Why 瞑想</div>
    <p class='indent-4'>
      現代の一日に触れる情報量は、江戸時代の1年分、平安時代の一生分と言われています。
      膨大な情報を前に、私たちの意識は常に外を向いています。
      そんな時代こそ、内（自分）に目を向ける時間を確保することが必要ではないでしょうか？
    </p>
  </div>
  <div class='m-5 max-w-2xl'>
    <div class='m-3 text-center text-3xl' >Who 瞑想</div>
    <p class='indent-4'>
      瞑想は、年齢や性別、生活環境などに関係なく、すべての人々におすすめです。特にいかに当てはまる人には、実践していただきたいです。
      <ul class='list-disc list-inside'>
        <li>ストレスや不安を強く感じている人</li>
        <li>集中力が続かない人</li>
        <li>自分が何者なのかわからない人</li>
      <ul>
    </p>
  </div>
  <div class='m-5 max-w-2xl'>
    <div class='m-3 text-center text-3xl' >How 瞑想</div>
    <p class='indent-4'>
      まずは、３分間、目を閉じ、呼吸に意識を集中させてみましょう。
      本サービスでは、いつくかの瞑想法を紹介しております。
      自分に合った瞑想法を継続し、心の変化を感じてみましょう。
    </p>
  </div>
  <%= link_to '瞑想してみる', start_path, class: 'btn btn-secondary rounded-full' %>
</div>
