<%= render 'shared/before_login_header'%>

<div class="hero min-h-screen" style="background-image: url(<%= asset_path('test_photo.jpg') %>)">
  <div class="hero-overlay bg-opacity-50"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-2xl">
      <h1 class="mb-5 text-5xl font-bold">迷走する社会に瞑想を。</h1>
      <p class="mb-5">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      <%= link_to 'START', '#', class: 'btn ' %>
    </div>
  </div>
</div>

<div class='m-5 flex flex-col items-center'>
  <div class='m-5 text-center'>
    <div class='m-3 text-5xl font-bold' >Why 瞑想</div>
    <p class='indent-4' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  <div class='m-5 text-center'>
    <div class='m-3 text-5xl font-bold' >Who 瞑想</div>
    <p class='indent-4' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  <div class='m-5 text-center'>
    <div class='m-3 text-5xl font-bold' >How 瞑想</div>
    <p class='indent-4' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  
  <%= link_to 'START', '#', class: 'btn ' %>


</div>
