<div class="relative h-screen overflow-hidden bg-indigo-900">
    <%= image_tag 'test_photo.jpeg', class: 'absolute object-cover w-full h-full' %>
    <div class="absolute inset-0 bg-black opacity-25">
    </div>

    <%= render 'shared/before_login_header'%>

    <div class="container relative z-10 flex items-center px-6 py-32 mx-auto md:px-12 xl:py-40">
        <div class="relative z-10 flex flex-col items-start lg:w-3/5 xl:w-2/5">
            <span class="font-bold text-yellow-400">
                pramana
            </span>
            <h1 class="mt-4 text-6xl font-bold text-white sm:text-7xl">
                主題テキスト
                <br/>
                テキスト
            </h1>
            <h3 class="mt-4 font-bold text-white sm:text-3xl">
                副題テキスト
                <br/>
                テキスト
            </h3>
            <a href="#" class="block px-4 py-3 mt-10 text-lg font-bold text-gray-800 bg-white rounded-lg hover:bg-gray-100">
                Discover
            </a>
        </div>
    </div>
</div>
