<%= render 'shared/before_login_header'%>

<div class="hero min-h-screen" style="background-image: url(<%= asset_path('test_photo.jpg') %>)">
  <div class="hero-overlay bg-opacity-50"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      <%= link_to 'START', '#', class: 'btn ' %>
    </div>
  </div>
</div>

<div>
  <div>
    <h1>Why 瞑想</h1>
    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  </div>
</div>
