<div class="wrap-tab">
    <div class="tab">
        果物
    </div>
    <div class="tab">
        野菜
    </div>
    <div class="tab">
        魚
    </div>
</div>
<div class="box active">
    リンゴ・モモ・パイナップル
</div>
<div class="box">
    レタス・ニンジン・ホウレンソウ
</div>
<div class="box">
    イワシ・サンマ・カツオ
</div>

<style>
.wrap-tab{
    display: flex;
}
 
.tab{
    width:100px;
    border:solid 1px #000;
}
.box{
    width:300px;
    height: 200px;
    display: none;
}
.active{display: block;}
</style>

<script>
    $(function() {
        $(".tab").on("click", function() {  //１．タブをクリックしたときに
            var i = $(this).index() ;  //２．クリックしたタブが何個目かをiに代入
            $(".box").removeClass("active");  //３．全てのボックスからactiveクラスを外す
            $(".box").eq(i).addClass("active");  //４．ボックスのi番目にactiveクラスを付ける
        });
    });
</script>