<div class='m-5 flex flex-col items-center'>

  <div class='m-5 text-center'>
    <div class='m-3 text-5xl font-bold' >方法</div>
    <p class='indent-4 max-w-xl' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  <div class='m-5 text-center'>
    <div class='m-3 text-5xl font-bold' >心構え</div>
    <p class='indent-4 max-w-xl' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  <div class='m-5 text-center'>
    <div class='m-3 text-2xl font-bold' >瞑想時間を選択</div>
    <p class='indent-4 max-w-xl font-mono' >
      <input type="number" class='' id='mindful_min' value="10">分
      <input type="number" class='' id='mindful_sec' value="0">秒
    </p>
  </div>

  <span class="font-mono text-2xl">
    <span id='min'>00</span>m
    <span id='sec'>00</span>s
  <button id='stop_audio'>
    <i class="fa-solid fa-volume-high"></i>
  </button>

  <button id='start_audio' style='display: none;'>
    <i class="fa-solid fa-volume-xmark"></i>
  </button>
  </span>

  <div class='m-5 flex flex-row items-center'> 
    <input type="button" class='btn' id='start_btn' value="スタート" >
    <input type="button" class='btn' id='stop_btn' value="ストップ" >
    <input type="button" class='btn' id='reset_btn' value="リセット" >
  </div>

  <%= audio_tag 'tin.mp3', id: 'audio' %>


</div>
デバック用スペース