<div class='m-5 flex flex-col items-center'>

  <div class='m-5 text-center'>
    <div class='m-3 text-3xl' >方法</div>
    <p class='indent-4 max-w-xl' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  <div class='m-5 text-center'>
    <div class='m-3 text-3xl ' >心構え</div>
    <p class='indent-4 max-w-xl' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  <div class='m-5 text-center font-mono'>
    <div class='m-3 text-2xl' >瞑想時間を選択</div>
      <input type="number" class='mx-3 input input-bordered w-28 text-xl rounded-full' id='mindful_min' value="10">m
      <input type="number" class='mx-3 input input-bordered w-28 text-xl rounded-full' id='mindful_sec' value="0">s
  </div>

  <span class="font-mono text-5xl">
    <span id='min'>00</span>m
    <span id='sec'>00</span>s
  </span>
    <button class="m-3" id='stop_audio' style='display: none;'>
      <i class="fa-solid fa-volume-high fa-xl"></i>
    </button>

    <button class="m-3" id='start_audio' >
      <i class="fa-solid fa-volume-xmark fa-xl"></i>
    </button>


  <div class='m-2 flex flex-row items-center'> 
    <input type="button" class='mx-4 w-20 rounded-full btn btn-secondary' id='start_btn' value="START" >
    <%# <input type="button" class='mx-4 w-20 rounded-full btn btn-accent' id='stop_btn' value="ストップ" > %>
    <input type="button" class='mx-4 w-20 rounded-full btn btn-secondary' id='reset_btn' value="RESET" >
  </div>

  <%= audio_tag 'tin.mp3', id: 'non_audio' %>

</div>