<h1>プロフィール</h1>
<%= link_to '編集', edit_profile_path, class: 'btn' %>
<table>
  <tr>
    <th >name</th>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <th>email</th>
    <td><%= current_user.email %></td>
  </tr>
</table>