<% if object.errors.any? %>
   <div id="error_messages">
     <ul class='my-2'>
       <% object.errors.full_messages.each do |msg| %>
         <li class='text-center text-red-400'><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>