<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> shadow-lg my-1">
    <% if false %>  
    
    <%else%>
      <%= message %>
    <% end %>  
  </div>
<% end %>

