<% flash.each do |message_type, message| %>
    <% if current_page?(root_path) %>  
      <% top_margin = "absolute mt-14 mx-1" %>
    <%else%>
      <% top_margin = "m-1" %>
    <% end %>  
  <div class="alert alert-<%= message_type %> <%= top_margin %> bg-opacity-50 shadow-lg ">
    <div>
      <i class="fa-solid fa-circle-info"></i>
      <%= message %>
    </div>
  </div>
<% end %>

