<footer class="footer p-4 bg-neutral text-white flex items-center absolute bottom-0">
  <div class="">
    <%= image_tag 'meditate_2.png', class: "h-8"%>
  </div>
  <div class="">
    <p>Copyright © 2023 - All right reserved</p>
  </div>
  <div class="grow justify-items-end">
    <%= link_to '#', class: 'fill-current ' do %>
      <i class="fa-brands fa-twitter fa-2x"></i>
    <% end %>
  </div>
</footer>
