<div class='my-4 mx-2 flex flex-col items-center'>
  <div class='my-5 text-xl text-center'>
    様々な思考がよぎったと思いますが、それで良いのです。<br>
    継続することで、心の変化を感じましょう。
  </div>
  
  <div class='mt-10 text-3xl text-center' > - このサービスの使い方 - </div>
  <div class='my-3 max-w-2xl'>
    新規登録（無料）をすることで、以下の項目ができるようになります。
  </div>
  
  <div class="mb-3 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    <div class="m-3 card max-w-md bg-base-100 shadow-md">
      <div class="card-body items-center text-center">
        <h2 class="card-title underline underline-offset-4">1. メニューを選択</h2>
        <%= image_tag 'guide_image/menu_image.jpg', class: "rounded-xl mt-10" %>
      </div>
    </div>
    <div class="m-3 card max-w-md bg-base-100 shadow-md">
      <div class="card-body items-center text-center">
        <h2 class="card-title underline underline-offset-4">2. 瞑想を実施</h2>
        <%= image_tag 'guide_image/mindful_new_image.jpg', class: "rounded-xl mt-3" %>
      </div>
    </div>
    <div class="m-3 card max-w-md bg-base-100 shadow-md">
      <div class="card-body items-center text-center">
        <h2 class="card-title underline underline-offset-4">3. 日々の瞑想を記録</h2>
        <%= image_tag 'guide_image/mindfulness_result_image.jpg', class: "rounded-xl mt-10" %>
      </div>
    </div>
  </div>

  <%= link_to '新規登録', signup_path, class: 'btn btn-secondary rounded-full' %>

</div>

