<div class='m-5 flex flex-col items-center'>
  <div class='m-5 text-center'>
    <div class='m-3 text-5xl font-bold' >いかがでしたか？</div>
  </div>
  <div class='m-5 text-center'>
    <div class='m-3 text-5xl font-bold' >目指す姿</div>
    <p class='indent-4 max-w-xl' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  <div class='m-5 text-center'>
    <div class='m-3 text-5xl font-bold' >継続あるのみ！</div>
    <p class='indent-4 max-w-xl' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
    <div class='m-5 text-center'>
    <div class='m-3 text-5xl font-bold' >このサービスでできること</div>
    <p class='indent-4 max-w-xl' >テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  <%= link_to '新規登録', new_user_path, class: 'btn btn-secondary rounded-full' %>
</div>

