<div class='my-4 mx-2 flex flex-col items-center text-center'>
  <div class='my-5'>
    <div class='my-3 text-3xl' >いかがでしたか？</div>
  </div>
  <div class='my-1'>
    <div class='my-3 text-2xl' >目指す姿</div>
    <p class='indent-4 max-w-xl' >
      呼吸に意識を集中できましたでしょうか？
      ここで大切なことは、意識が逸れていることに気づくこと、気づいたら意識を戻すことです。
      この繰り返しによって、あなたの集中力は向上します。
      人の話を聞いている時、上の空になったことはありませんか？
      瞑想を通して、意識が逸れている自分に気づくことができるようになります。
    </p>
  </div>
  <div class='my-5 '>
    <div class='my-3 text-2xl' >継続あるのみ！</div>
    <p class='indent-4 max-w-xl' >
      瞑想時間１００００時間の達人は、脳の構造が違うそうです。どう違うのか。〜〜〜です。
      彼らは感情に支配されることはありません。感情を手放すことができます。
      これらは、瞑想の積み重ねによって得ることできると考えられています。（今後の研究に期待です。）
    </p>
  </div>
    <div class='my-5 '>
    <div class='my-3 text-2xl' >このサービスでできること</div>
    <p class='indent-4 max-w-xl' >
      瞑想の方法を知り、効果を知り、日々の実績を記録する。
      それだけのサービスです。
      瞑想を継続して、心の変化を感じましょう。
    </p>
  </div>
  <%= link_to '新規登録', new_user_path, class: 'btn btn-secondary rounded-full' %>
</div>

