<div class='my-4 flex flex-col items-center'>
  <div class='my-3 text-3xl'>お試し瞑想</div>
  <div class='my-5 text-center max-w-2xl'>
    <p class=''>
      <p class='my-5'> 静かな場所で</p>
      <p class='my-5'> 姿勢を正し</p>
      <p class='my-5'> 呼吸に意識を集中。</p>
    </p>

  <div class="my-3 font-mono">
    <input type="number" class='mx-3 input input-bordered w-28 text-xl rounded-xl' id='min' value="3">
    m
    <input type="number" class='mx-3 input input-bordered w-28 text-xl rounded-xl' id='sec' value="0">
    s
  </div>

  <button class="my-3" id='stop_audio' style='display: none;'>
    <i class="fa-solid fa-volume-high fa-xl"></i>
  </button>

  <button class="my-3" id='start_audio' >
    <i class="fa-solid fa-volume-xmark fa-xl"></i>
  </button>

  <%= audio_tag 'tin.mp3', id: 'non_audio' %>

  <div class="my-3">
      <input type="button" class='mx-4 w-20 rounded-full btn btn-secondary' id='trial_start_btn' value="START" >
      <input type="button" class='mx-4 w-20 rounded-full btn btn-accent' id='trial_stop_btn' value="STOP"' style='display: none;'>
      <input type="button" class='mx-4 w-20 rounded-full btn btn-secondary' id='trial_end_btn' value="END"' >
      <input type="button" class='mx-4 w-20 rounded-full btn btn-secondary' id='trial_reset_btn' value="RESET" style='display: none;'>
  </div>
</div>